@media screen and (max-width: 1300px) {
	.container {
		padding: 0 40px;
	}
	.menu {
		display: none;
	}
	.endMenu {
		display: none;
	}
	.endMenuResponsive {
		display: block !important;
	}
}
@media screen and (max-width: 1254px) {
	.modelImage {
		align-items: flex-end;
		    justify-content: flex-end;
	}
	.modelImage img{
		height: 337px !important;
	}
}
@media screen and (max-width: 1155px) {
	.aboutUsBody .grid {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}
@media screen and (max-width: 990px) {
	.headerContentGrid {
		display: block;
	}
	.modelImage img {
		height: 100% !important;
	}
	.mainText h1 {
		font-size: 40px;
	}
	.modelImage {
		display: block;
	}
	.qr {
		display: none;
	}
	.header {
		height: 576px;
	}
	.aboutUsBody .grid {
		grid-template-columns: repeat(1, 1fr) !important;
	}
	.lookingBody .grid {
		grid-template-columns: 1fr !important;
	}
	.mainBtn {
		width: 100%;
	}
	.footerGrid {
		grid-template-columns: 1fr;
	}
	.footerMenus {
		grid-template-columns: repeat(2, 1fr);
	}
}